<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer>        
        function logout(){
            window.location.href = "/logout"
        }
        function redireccionarTabla(elemento){            
            window.location.href = `/verTabla?nombreTabla=${elemento}`            
        }
    </script>
    {%block titulo%} {% endblock %}
</head>
<body>    
    <button onclick="logout()"> Salir de la sesión </button>             
    {% from "_macro.html" import create_elements_buttons %}
    {{ create_elements_buttons(listaBotones) }}
    {% block content %}                
    {% endblock %}    
</body>
</html>