{% macro crearFormulario(type) %} 
<main role="main" class="container">
  <div class="row">
    <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
      <div class="content-section" id="login-content">
        <form method="POST" action="/actualizar?estado=enviado"> 
            <div class="form-group">
            {% if type == 'compra' %}
                <legend class="border-bottom mb-4"> Cambiar o borrar entrada con parámetros </legend>
                <label class="from-control-label mt-3"> Id recibo </label>
                <input class="from-control form-control-lg" required name='recibo' type="number">
                <label class="from-control-label mt-3"> Código insumo </label>
                <input class="from-control form-control-lg" required name='ins_cod_old' type="number">
                <legend class="border-bottom mb-4 mt-4"> Valor de los nuevos parámetros </legend>
                <label class="from-control-label mt-3"> Código insumo </label>
                <input class="from-control form-control-lg" name='ins_cod' type="number">
                <label class="from-control-label mt-3"> Cantidad </label>
                <input class="from-control form-control-lg" name='cantidad' type="number">
                <label class="from-control-label mt-3"> Costo </label>
                <input class="from-control form-control-lg" name='costo' type="number">      
                
            {% elif type == 'venta' %}
                <legend class="border-bottom mb-4"> Cambiar o borrar entrada con parámetros </legend>
                <label class="from-control-label mt-3"> Id venta </label>
                <input class="from-control form-control-lg" required name='id_vnt' type="number">
                <label class="from-control-label mt-3"> Id del producto </label>
                <input class="from-control form-control-lg" required name='productoOld' type="number">
                <legend class="border-bottom mb-4 mt-4"> Valor de los nuevos parámetros </legend>
                <label class="from-control-label mt-3"> Id del cliente </label>
                <input class="from-control form-control-lg" required name='id_cl' type="number">
                <label class="from-control-label mt-3"> Producto </label>
                <input class="from-control form-control-lg" required name='producto' type="number">
                <label class="from-control-label mt-3"> Cantidad de producto </label>
                <input class="from-control form-control-lg" required name='cantidad' type="number">
                <label class="from-control-label mt-3"> Total </label>
                <input class="from-control form-control-lg" required name='total' type="number">
                <label class="from-control-label mt-3"> Código postal </label>
                <input class="from-control form-control-lg" required name='codPostal' type="number">
                <label class="from-control-label mt-3"> Dirección </label>
                <input class="from-control form-control-lg" required name='direccion' type="text">

            {% elif type == 'nomina' %}
                <legend class="border-bottom mb-4"> Cambiar o borrar entrada con parámetros </legend>
                <label class="from-control-label mt-3"> Fecha </label>
                <input class="from-control form-control-lg" required name='fecha' type="date">
                <label class="from-control-label mt-3"> Id del trabajador </label>
                <input class="from-control form-control-lg" required name='idtrabajadorOld' type="number">
                <legend class="border-bottom mb-4 mt-4"> Valor de los nuevos parámetros </legend>
                <label class="from-control-label mt-3"> Id del trabajador </label>
                <input class="from-control form-control-lg" required name='idtrabajador' type="number">
                <label class="from-control-label mt-3"> Pago </label>
                <input class="from-control form-control-lg" required name='pago' type="number">
                <label class="from-control-label mt-3"> Descuento</label>
                <input class="from-control form-control-lg" required name='descuentos' type="number">

            {% elif type == 'produccion' %}
                <legend class="border-bottom mb-4"> Cambiar o borrar entrada con parámetros </legend>
                <label class="from-control-label mt-3"> Fecha </label>
                <input class="from-control form-control-lg" required name='fecha' type="date">
                <label class="from-control-label mt-3"> Costo de producción </label>
                <input class="from-control form-control-lg" required name='costo' type="number">
                    
            
            {% endif %}

            <select class="form-select form-select-sm mt-3" aria-label=".form-select-sm example" required name='opcion'>
                <option value='actualizar'> Actualizar </option>
                <option value='borrar'> Borrar </option>
            </select>
            </div>
                <button type="submit" class="btn btn-info">
                    Enviar 
                </button>
            </form>
        </div>
    </div>
</main> 
{% endmacro %}