{% macro show_dataBase(nombres)%}
<ol id="lista">
  {% for elemento in nombres %}
  <li>'{{elemento}}'</li>
  {% endfor %}
</ol>
{% endmacro %} {% macro create_elements_buttons(listaElementos) %}
<form method="POST" action class="macro-vista">
  <select
    class="form-select form-select-sm"
    aria-label=".form-select-sm example"
    name="tablas_menuDesplegable"
    id="select-tablas"
  >
    {% for tabla,nombre in listaElementos.items() %}
    <option value="{{tabla}}">Ver información de {{nombre}}</option>
    {% endfor %}
  </select>

  <button type="submit" class="btn btn-outline-dark" id="ver-info">
    Ver información
  </button>
</form>
{% endmacro %} {% macro create_table(nombreTablas, nombreTabla, columnas ,
filas)%}
<h1 class="titulo-ver-tablas">
  Ver información de {{nombreTablas[nombreTabla]}}
</h1>

<table style="width: 100%" class="table-light table-striped">
  <tr>
    {% for columna in columnas %}
    <th>{{columna[1]}}</th>
    {% endfor %}
  </tr>
  {% for fila in filas %}
  <tr>
    {% for entrada in fila %}
    <td>{{entrada}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endmacro %} {% macro createSearchForm(nombreTablas, campos_busqueda,
nombreTabla)%}
<h1 class="titulo-ver-tablas">{{nombreTablas[nombreTabla]}}</h1>
<form method="POST">
  <h6>
    Ingrese al menos uno de los campos por los que desea filtrar. LLenar más de
    uno hace que la busqueda sea combinada.
  </h6>
  <hr />
  <div class="mb-3" id="filtro-label">
    {% for campo in campos_busqueda %} {% if campo[1] == 'STR' %}
    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
    <input type="text" name="{{campo[0]}}" class="form-control" />
    {% elif campo[1] == 'NUM' %}
    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
    <input type="number" name="{{campo[0]}}" class="form-control" />
    {% elif campo[1] == 'DATE' %}
    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
    <input type="date" name="{{campo[0]}}" class="form-control" />
    <!-- Para los menús desplegables -->
    {% elif campo[1] == 'DESP' %}
    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      name="{{campo[0]}}"
      id="select-tablas"
    >
      {% if campo[0] == 'vnt_estado' %}

      <option value="''">--</option>
      <option value="'No entregado'">No entregado</option>
      <option value="'Entregado'">Entregado</option>

      {% elif campo[0] == 'car_tipoCargo' %}

      <option value="''">--</option>
      <option value="'Auxiliar'">Auxiliar</option>
      <option value="'Operativo'">Operativo</option>
      <option value="'Administrativo'">Administrativo</option>
      <option value="'Gerencial'">Gerencial</option>

      {% elif campo[0] == 'tra_titulacion' %}

      <option value="''">--</option>
      <option value="'Bachiller'">Bachiller</option>
      <option value="'Pregrado'">Pregrado</option>
      <option value="'Tecnico'">Técnico</option>
      <option value="'Maestria'">Maestría</option>

      {% elif campo[0] == 'nom_tipoCuenta' %}

      <option value="''">--</option>
      <option value="'AHORROS'">Ahorros</option>
      <option value="'CORRIENTE'">Corriente</option>

      {% elif campo[0] == 'crg_placaFurgon' %}
      <option value="''">--</option>
      <option value="'VNS-945'">VNS-945</option>
      <option value="'PRM-264'">PRM-264</option>

      {% elif campo[0] == 'ins_caducidad' %}

      <option value="''">--</option>
      <option value="'Sí'">Sí</option>
      <option value="'No'">No</option>

      {% endif %}
    </select>
    {% endif %} {% endfor %}
  </div>
  <button type="submit" class="btn btn-info">
    Enviar criterios de búsqueda
  </button>
</form>
{% endmacro %} {% macro create_update_delete_form(verificarExistencia, delete,
update, nombreTablas,nombreTabla,campos , nombreRegistro)%} 
    <main role="main" class="container">
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
            <div class="content-section" id="login-content">
{% if
verificarExistencia and update %}
<!-- Formulario para introducir los campos -->

              <form method="POST" action>
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Verificar existencia de entrada en {{nombreTablas[nombreTabla]}}</legend>
                  <div class="mb-3" id="filtro-label">
                    {% for campo in campos %} {% if campo[1] == 'STR' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="text" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'NUM' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="number" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DATE' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="date" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DESP' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <select
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    name="{{campo[0]}}"
                    id="select-tablas"
                    required
                    >
                    {% if campo[0] == 'vnt_estado' %}

                    <option value="''">--</option>
                    <option value="'No entregado'">No entregado</option>
                    <option value="'Entregado'">Entregado</option>

                    {% elif campo[0] == 'car_tipoCargo' %}

                    <option value="''">--</option>
                    <option value="'Auxiliar'">Auxiliar</option>
                    <option value="'Operativo'">Operativo</option>
                    <option value="'Administrativo'">Administrativo</option>
                    <option value="'Gerencial'">Gerencial</option>

                    {% elif campo[0] == 'tra_titulacion' %}

                    <option value="''">--</option>
                    <option value="'Bachiller'">Bachiller</option>
                    <option value="'Pregrado'">Pregrado</option>
                    <option value="'Tecnico'">Técnico</option>
                    <option value="'Maestria'">Maestría</option>

                    {% elif campo[0] == 'nom_tipoCuenta' %}

                    <option value="''">--</option>
                    <option value="'AHORROS'">Ahorros</option>
                    <option value="'CORRIENTE'">Corriente</option>

                    {% elif campo[0] == 'crg_placaFurgon' %}
                    <option value="''">--</option>
                    <option value="'VNS-945'">VNS-945</option>
                    <option value="'PRM-264'">PRM-264</option>

                    {% elif campo[0] == 'ins_caducidad' %}

                    <option value="''">--</option>
                    <option value="'Sí'">Sí</option>
                    <option value="'No'">No</option>

                    {% endif %}
                    </select>
                    {% endif %} {% endfor %}
                </div>
                {% if update %}
                <button type="submit" class="btn btn-info">
                    Enviar criterios de actualización
                </button>
                {% elif delete %}
                <button type="submit" class="btn btn-info">Enviar claves de borrado</button>
                {% endif %}
              </form>

{% endif %}

<!--  Una vez comprobada existencia-->
{% if not verificarExistencia %} {% if update%}
              <form method="POST" action>
                <fieldset class="form-group">
                  <legend class="mb-4">Actualizar entrada de {{nombreTablas[nombreTabla]}}</legend>
                  <legend class="border-bottom mb-4">  Nuevos valores de la entrada {% for registro in nombreRegistro %}
                    {{registro[0]}} = {{registro[1]}} {% endfor %}</legend>
                  {% elif delete %}
                    <legend class="mb-4">
                    Borrar entrada de {{nombreTablas[nombreTabla]}}
                    </legend>
                    <legend class="border-bottom mb-4">Campos clave de la entrada a borrar</legend>
                    {% endif %}
                    <form method = 'POST' action>
                    <div class="mb-3" id="filtro-label">
                    {% for campo in campos %} {% if campo[1] == 'STR' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="text" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'NUM' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="number" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DATE' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <input required type="date" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DESP' %}
                    <label for="{{campo[0]}}" class="form-label"> {{campo[2]}} </label>
                    <select
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    name="{{campo[0]}}"
                    id="select-tablas"
                    required
                    >
                    {% if campo[0] == 'vnt_estado' %}

                    <option value="''">--</option>
                    <option value="'No entregado'">No entregado</option>
                    <option value="'Entregado'">Entregado</option>

                    {% elif campo[0] == 'car_tipoCargo' %}

                    <option value="''">--</option>
                    <option value="'Auxiliar'">Auxiliar</option>
                    <option value="'Operativo'">Operativo</option>
                    <option value="'Administrativo'">Administrativo</option>
                    <option value="'Gerencial'">Gerencial</option>

                    {% elif campo[0] == 'tra_titulacion' %}

                    <option value="''">--</option>
                    <option value="'Bachiller'">Bachiller</option>
                    <option value="'Pregrado'">Pregrado</option>
                    <option value="'Tecnico'">Técnico</option>
                    <option value="'Maestria'">Maestría</option>

                    {% elif campo[0] == 'nom_tipoCuenta' %}

                    <option value="''">--</option>
                    <option value="'AHORROS'">Ahorros</option>
                    <option value="'CORRIENTE'">Corriente</option>

                    {% elif campo[0] == 'crg_placaFurgon' %}
                    <option value="''">--</option>
                    <option value="'VNS-945'">VNS-945</option>
                    <option value="'PRM-264'">PRM-264</option>

                    {% elif campo[0] == 'ins_caducidad' %}

                    <option value="''">--</option>
                    <option value="'Sí'">Sí</option>
                    <option value="'No'">No</option>

                    {% endif %}
                    </select>
                    {% endif %} {% endfor %}
                </div>
                {% if update %}
                <button type="submit" class="btn btn-info">
                    Enviar criterios de actualización
                </button>
                {% elif delete %}
                <button type="submit" class="btn btn-info">Enviar claves de borrado</button>
                {% endif %}
              </form>

{% endif %}
            </div>
        </div>

    </main> {% endmacro %}

{% macro boton_crear_form(tipo, preguntarNumero, totalElementos)%}
    <main role="main" class="container">
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
            <div class="content-section" id="login-content">
    {% if tipo == 'produccion' %}
    <legend class="border-bottom mb-4"> Ingrese los datos de la producción </legend>
    <form method='POST' action="/crear?estado=enviado">
      <div class="form-group">
        <label class="from-control-label mt-3"> Código del insumo </label>
        <input class="from-control form-control-lg" required name='id_insumo' type="number">
        <label class="from-control-label mt-3"> Cantidad de insumo </label>
        <input class="from-control form-control-lg" required name='cantidadIns' type="number">
        <label class="from-control-label mt-3"> Id de trabajador 1 </label>
        <input class="from-control form-control-lg" required name='trabajadorID1' type="number">
        <label class="from-control-label mt-3"> Id de trabajador 2 </label>
        <input class="from-control form-control-lg" required name='trabajadorID2' type="number">
        <label class="from-control-label mt-3"> Id de producto </label>
        <input class="from-control form-control-lg" required name='idProducto' type="number">
        <label class="from-control-label mt-3"> Cantidad de producto </label>
        <input class="from-control form-control-lg" required name='cantidadProducto' type="number">
        <label class="from-control-label mt-3"> Costo </label>
        <input class="from-control form-control-lg" required name='Costo' type="number">
      </div>
      <button class="btn btn-outline-info" type="submit" > Enviar </button>
    </form>
    {% endif %}

    {% if tipo == 'nomina' %}
      <legend class="border-bottom mb-4"> Ingrese los datos de la nomina del trabajador </legend>
      <form method='POST' action="/crear?estado=enviado">
        <div class="form-group">
            <label class="from-control-label mt-3"> Id del trabajador </label>
            <input class="from-control form-control-lg" required name='tra_id' type="number">
            <label class="from-control-label mt-3"> Periodo </label>
            <input class="from-control form-control-lg" required name='per_nom' type="text">
            <label class="from-control-label mt-3"> Descuento </label>
            <input class="from-control form-control-lg" required name='descuento' type="number">
            <label class="from-control-label mt-3"> Pago </label>
            <input class="from-control form-control-lg" required name='pago' type="number">
            </div>
            <button class="btn btn-outline-info" type="submit" > Enviar </button>
      </form>
    {% endif %}
    
    {% if tipo == 'compra' and preguntarNumero %}
      <legend class="border-bottom mb-4"> ¿Cuántas insumos diferentes va a comprar?</legend>
    {% elif tipo == 'venta' and preguntarNumero %}
      <legend class="border-bottom mb-4"> ¿Cuántas productos diferentes va a vender? </legend>
    {% endif %}

    {% if preguntarNumero  %}
    <form method='POST' action="/crear?tipo={{tipo}}"> 
        <div class="form-group">
            <label class="from-control-label" for="user" >Total</label>
            <input class="from-control form-control-lg" required name='total' type="number">
        </div>
        <button class="btn btn-outline-info" type="submit" > Enviar </button>
    </form>



    {% endif %}

    {% if not preguntarNumero and tipo == 'compra' %}
    <form method='POST' action="/crear?estado=enviado">
      <div class="form-group">
      <label class="from-control-label mt-3"> Nit del proveedor </label>
      <input class="from-control form-control-lg" required name='nit' type="number">
      <label class="from-control-label mt-3"> Id del recibo </label>
      <input class="from-control form-control-lg" required name='id_recibo' type="number">
      <label class="from-control-label mt-3"> Fecha de la compra </label>
      <input class="from-control form-control-lg" required name='fecha' type="date">
      {% for i in range(totalElementos)    %} 
        <label class="from-control-label mt-3"> Código del insumo {{i}} </label>
        <input class="from-control form-control-lg" required name='codigo{{i}}' type="number">
        <label class="from-control-label mt-3"> Cantidad de insumo {{i}} </label>
        <input class="from-control form-control-lg" required name='cantidad{{i}}' type="number">
      {% endfor %}
      <label class="from-control-label mt-3"> Costo total </label>
      <input class="from-control form-control-lg" required name="costo" type='number'> 
      </div>
      <button class="btn btn-outline-info" type="submit" > Enviar </button>
    </form>
    {% endif %}

    {% if not preguntarNumero and tipo == 'venta' %}
    <form method='POST' action="/crear?estado=enviado">
      <div class="form-group">
        <label class="from-control-label mt-3"> Id del cliente </label>
        <input class="from-control form-control-lg" required name='id_cl' type="number">      
        <label class="from-control-label mt-3"> Código postal </label>
        <input class="from-control form-control-lg" required name='postal' type="number">
        <label class="from-control-label mt-3"> Dirección </label>
        <input class="from-control form-control-lg" required name='direccion' type="text">
        {% for i in range(totalElementos)    %} 
            <label class="from-control-label mt-3"> Código del producto {{i}} </label>
            <input class="from-control form-control-lg" required name='producto{{i}}' type="number">
            <label class="from-control-label mt-3"> Cantidad del producto {{i}} </label>
            <input class="from-control form-control-lg" required name='cantidad{{i}}' type="number">
        {% endfor %}
        <label class="from-control-label mt-3"> Valor de la venta </label>
        <input class="from-control form-control-lg" required name="valorVenta" type='number'> 
      </div>
      <button class="btn btn-outline-info" type="submit" > Enviar </button>
    </form>
    {% endif %}
</div>
        </div>

    </main> 
{% endmacro %}


{% macro crearFormularioInserción(insert,nombreTablas, campos_busqueda, nombreTabla) %}
{% if insert%}
<main role="main" class="container">
  <div class="row">
    <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
      <div class="content-section" id="login-content">
            <form method="POST" action>
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Nueva entrada de {{nombreTablas[nombreTabla]}}</legend>                 
                    <form method = 'POST' action>
                    <div class="form-group">
                    {% for campo in campos_busqueda %} {% if campo[1] == 'STR' %}
                    <label for="{{campo[0]}}" class="from-control-label mt-3"> {{campo[2]}} </label>
                    <input  type="text" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'NUM' %}
                    <label for="{{campo[0]}}" class="from-control-label mt-3"> {{campo[2]}} </label>
                    <input  type="number" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DATE' %}
                    <label for="{{campo[0]}}" class="from-control-label mt-3"> {{campo[2]}} </label>
                    <input  type="date" name="{{campo[0]}}" class="form-control" />
                    {% elif campo[1] == 'DESP' %}
                    <label for="{{campo[0]}}" class="from-control-label mt-3"> {{campo[2]}} </label>
                    <select
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    name="{{campo[0]}}"
                    id="select-tablas"                    
                    >
                    {% if campo[0] == 'vnt_estado' %}

                    <option value="''">--</option>
                    <option value="'No entregado'">No entregado</option>
                    <option value="'Entregado'">Entregado</option>

                    {% elif campo[0] == 'car_tipoCargo' %}

                    <option value="''">--</option>
                    <option value="'Auxiliar'">Auxiliar</option>
                    <option value="'Operativo'">Operativo</option>
                    <option value="'Administrativo'">Administrativo</option>
                    <option value="'Gerencial'">Gerencial</option>

                    {% elif campo[0] == 'tra_titulacion' %}

                    <option value="''">--</option>
                    <option value="'Bachiller'">Bachiller</option>
                    <option value="'Pregrado'">Pregrado</option>
                    <option value="'Tecnico'">Técnico</option>
                    <option value="'Maestria'">Maestría</option>

                    {% elif campo[0] == 'nom_tipoCuenta' %}

                    <option value="''">--</option>
                    <option value="'AHORROS'">Ahorros</option>
                    <option value="'CORRIENTE'">Corriente</option>

                    {% elif campo[0] == 'crg_placaFurgon' %}
                    <option value="''">--</option>
                    <option value="'VNS-945'">VNS-945</option>
                    <option value="'PRM-264'">PRM-264</option>

                    {% elif campo[0] == 'ins_caducidad' %}

                    <option value="''">--</option>
                    <option value="'Sí'">Sí</option>
                    <option value="'No'">No</option>

                    {% endif %}
                    </select>
                    {% endif %} {% endfor %}
                </div>
                
                <button type="submit" class="btn btn-info">
                    Enviar 
                </button>
              </form>
            </div>
          </div>
  
      </main> 
{% endif %}
{% endmacro %}