{% extends 'base/baseCargos.html' %}

{% block titulo %}    
    <title> rol admin </title>   
    
{% endblock %}
    
    
{% block content %}
    <button onclick=""> Actualizar compra de insumos </button>
    <button onclick=""> Actualizar pago de nomina </button>     
    <button onclick=""> Actualizar información de los trabajadores </button>
    <button onclick=""> Actualizar información de la producción </button> 
    <button onclick=""> Realizar venta </button>        
    <button onclick=""> Actualizar venta </button>  
{% endblock %}