<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- CSS propio -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
      type="text/css"
    />
    <title>La tocanita - Log in</title>
        <style>
        body {  
            background: linear-gradient(#343a40, #66CCCC);
            background-attachment: fixed;
            /*Hace que la imagen quede fija y no se mueva con el contenedor*/
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>    
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-t">
        <a class="navbar-brand" href="">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt=""
            class="nav-logo-login"
          />
          La Tocanita
        </a>
      </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
            <div class="content-section" id="login-content">
              <form method="POST" action>
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Ingresa a La Tocanita</legend>
                  <div class="form-group">
                      <label class="from-control-label" for="user" >Usuario</label>
                      <input class="from-control form-control-lg" id="user" name="user" type="text">
                  </div>
                  <div class="form-group">
                      <label class="from-control-label" for="password" >Contraseña</label>
                      <input class="from-control form-control-lg" id="password" name="password" type="password">
                  </div>
                  <div class="from-group">
                    <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Iniciar Sesion">

                  </div>
              </form>
            </div>
        </div>
      </form>
    </main>
  </body>
</html>
