<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- CSS propio -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
      type="text/css"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Tocanita - Realizar venta</title>
    <script>

        function goBack(){
            window.history.back();
        }        
        
    </script>
</head>
<body>
    <header class="site-header">
    <!-- As a heading -->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">La Tocanita</span>
                <div id="nav-tablas">
                    <button
                    onclick="goBack()"
                    class="btn btn-outline-info my-2 my-sm-0 d-flex"
                    id="nav-salir"
                    >
                    Volver
                    </button>
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="container">
        <div class="row">
          <div class="col col-lg-6 col-md-8 col-12 offset-md-2 offset-lg-3">
            <div class="content-section" id="login-content">
              <form method="POST" action>
                <fieldset class="form-group">
                    <legend class="mb-4"> Realizar venta </legend>
                    {% if not primerPaso and not clienteEnBase and not segundoPaso and not geografiaEnBase and not final %}
                    <legend class="border-bottom mb-4"> Ingrese la información del cliente </legend>
                    {% elif primerPaso and not clienteEnBase and not segundoPaso and not geografiaEnBase and not final %}
                    <legend class="border-bottom mb-4"> Ingrese la información del nuevo cliente </legend>
                    {% elif not segundoPaso and clienteEnBase and primerPaso and not geografiaEnBase and not final %}   
                    <legend class="border-bottom mb-4"> Ingrese la información del municipio </legend>
                    {% elif segundoPaso and not geografiaEnBase and primerPaso and clienteEnBase and not final%}
                    <legend class="border-bottom mb-4"> Ingrese la información del nuevo municipio </legend>
                    {% elif segundoPaso and geografiaEnBase and primerPaso and clienteEnBase and not final %}
                    <legend class="border-bottom mb-4"> Ingrese la información de la venta </legend>
                    {% endif %}
                  <div class="form-group">
                      {% if not primerPaso and not clienteEnBase and not segundoPaso and not geografiaEnBase and not final %}
                    <label class="from-control-label" for="cli_id"> Id del cliente </label>
                    <input class="from-control form-control-lg" type="text" name="cli_id" required>        
                    <div class="mt-3 from-group">
                        <input class="btn btn-outline-info" type="submit" value="Verificar id">
                    </div>
                    {% elif primerPaso and not clienteEnBase and not segundoPaso and not geografiaEnBase and not final%}
                    <label class="from-control-label" for="cli_id"> Id del cliente </label>
                    <input class="from-control form-control-lg" type="number" name="cli_id" required>    
                    <label class="from-control-label" for="cli_nombre"> Nombre del cliente </label>
                    <input class="from-control form-control-lg" type="text" name="cli_nombre" required>  
                    <label class="from-control-label" for="cli_telefono"> Teléfono del cliente </label>
                    <input class="from-control form-control-lg" type="number" name="cli_telefono" required>   
                    <label class="from-control-label" for="cli_correo"> Correo del cliente </label>
                    <input class="from-control form-control-lg" type="text" name="cli_correo" required>           
                    <div class="mt-3 from-group">
                        <input class="btn btn-outline-info" type="submit" value="Ingresar datos">
                    </div>
                    {% elif not segundoPaso and clienteEnBase and primerPaso and not geografiaEnBase and not final %}             
                    <label class="from-control-label" for="geo_codigoPostal"> Código postal del municipio </label>
                    <input class="from-control form-control-lg" type="number" name="geo_codigoPostal" required>
                    <div class="mt-3 from-group">
                        <input class="btn btn-outline-info" type="submit" value="Verificar municipio">
                    </div>
                    
                    <script>
                        alert('El cliente está en la base de datos')
                    </script>
                    {% elif segundoPaso and not geografiaEnBase and primerPaso and clienteEnBase and not final %}
                    <label class="from-control-label" for="geo_codigoPostal"> Código postal </label>
                    <input class="from-control form-control-lg" type="number" name="geo_codigoPostal" required>    
                    <label class="from-control-label" for="geo_nombre"> Nombre del municipio </label>
                    <input class="from-control form-control-lg" type="text" name="geo_nombre" required>  
                    <div class="mt-3 from-group">
                        <input class="btn btn-outline-info" type="submit" value="Ingresar datos">
                    </div>
                    
                    {% elif segundoPaso and geografiaEnBase and primerPaso and clienteEnBase and not final %}
                    <label class="from-control-label" for="id_venta"> Id de venta </label>
                    <input class="from-control form-control-lg" type="number" name="id_venta" required>    
                    <label class="from-control-label" for="id_cliente"> Id del cliente </label>
                    <input class="from-control form-control-lg" type="number" name="id_cliente" required>  
                    <label class="from-control-label" for="geo_codigoPostal"> Código postal </label>
                    <input class="from-control form-control-lg" type="number" name="geo_codigoPostal" required>  
                    <label class="from-control-label" for="vnt_direccion"> Dirección de la venta </label>
                    <input class="from-control form-control-lg" type="number" name="vnt_direccion" required> 
                    <label class="from-control-label" for="prd_id"> Id del producto </label>        
                    <input class="from-control form-control-lg" type="number" name="prd_id" required> 
                    <label class="from-control-label" for="vpn_cantidad"> Cantidad del producto </label>
                    <input class="from-control form-control-lg" type="number" name="vpn_cantidad" required>                 
                    <label class="from-control-label" for="vpn_valorVenta"> Valor de la venta </label>  
                    <input class="from-control form-control-lg" type="number" name="vpn_valorVenta" required>
                    <div class="mt-3 from-group">
                        <input class="btn btn-outline-info" type="submit" value="Ingresar datos">
                    </div>
                    
                    <script>
                        alert('El municipio está en la base de datos')
                    </script>
                    {% elif final %}
                    
                    <script>
                        alert('La venta ha sido creada')
                        window.location.href = '/rol?tipo={{rol}}'
                    </script>
                    {% endif %}
                  </div>
              </form>
            </div>
        </div>
      </form>
    </main>

    <form method="POST" action="">
        
    </form>
</body>
</html>