{% extends 'base/baseCargos.html' %} {% block titulo %}
<title>La Tocanita - Administrador de Recursos Humanos</title>

{% endblock %} {% block content %}
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="content-section" id="aside">
        <section class="main-logo">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" />
        </section>
        <section class="main-buttons">
          <button type="button" onclick="redireccionarTrabajadores()" class="btn btn-dark">
            Actualizar información de los trabajadores
          </button>
        </section>
      </div>
    </div>
    <div class="col-md-9">
      <div class="content-section">
        {% from "_macro.html" import create_elements_buttons %} {{
        create_elements_buttons(listaBotones) }}
      </div>
    </div>
  </div>
</main>
{% endblock %}
