{% extends 'base/base.html' %} {% block titulo %}
<title>Información de tabla</title>
<script>
  function goBack() {
    window.location.href = "/rol";
  }
  function search() {
    window.location.href = `/verTabla/buscar`;
  }
  function update() {
    window.location.href = `/verTabla/update?enTabla=False`;
  }
  function del() {
    window.location.href = `/verTabla/delete`;
  }
  function logout() {
    window.location.href = "/logout";
  }
  function insert() {
    window.location.href = "/verTabla/insert";
  }
</script>
{% endblock %} {% block content%}
<header class="site-header">
  <!-- As a heading -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">La Tocanita</span>
      <div id="nav-tablas">
        {% if insertable == 'si' %}
        <button
          onclick="insert()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
        >
          Insertar registro
        </button>
        {% endif %} {% if actualizable == 'si' %}
        <button
          onclick="update()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
          id="nav-salir"
        >
          Actualizar registros
        </button>
        {% endif %} {% if borrable == 'si' %}
        <button
          onclick="del()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
          id="nav-salir"
        >
          Borrar registros
        </button>
        {% endif %}
        <button
          onclick="search()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
          id="nav-salir"
        >
          Filtrar Tabla
        </button>
        <button
          onclick="goBack()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
          id="nav-salir"
        >
          Volver
        </button>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% from "_macro.html" import create_table %} {{
      create_table(nombreTablas,nombreTabla, nombreColumnas , filas) }}
    </div>
  </div>
</main>
{% endblock %}
