{% extends 'base/base.html' %} {% block titulo %}
<title>Información de tabla</title>
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %} {% block content%}
<header class="site-header">
  <!-- As a heading -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">La Tocanita</span>
      <div id="nav-tablas">
        <button
          onclick="goBack()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
        >
          Volver
        </button>
        <button
          onclick="logout()"
          class="btn btn-outline-info my-2 my-sm-0 d-flex"
          id="nav-salir"
        >
          Salir de la sesión
        </button>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% from "_macro.html" import create_table %} {{ create_table(nombreTabla,
      nombreColumnas , filas) }}
    </div>
  </div>
</main>
{% endblock %}
